.chain-container {
    position: absolute;
    top: -20px;
    right: 20%;
}

.chandelier-holder {
    position: relative;
    height: 500px;
    padding: 0 .5em;
    margin-top: -20px;
}

.chain {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 8px;
    height: 8px;
    width: 8px;
    transform-origin: top center;
    background-repeat: no-repeat;
}

.very-first-chain {
    left: 50%;
}

.chandelier {
    top: 9px;
    left: -2px;
    width: 14px;
    height: 20px;
}

.animate--chain-pull {
    animation: pull-chain 500ms 1 ease-in;
}

.animate--chain-wiggle .chain {
    animation: wiggle 1.75s 1;
    animation-timing-function: ease-in-out;
}

@keyframes pull-chain {
    0% { top: -20px; }
    35% { top: 0px; }
    80% { top: -30px; }
    100% { top: -20px; }
}

/* ANIMATIONS ----------------------------------------- */

@keyframes wiggle {

  0% {
    transform: rotateZ(0deg);
  }
  14% {
    transform: rotateZ(-.25deg);
  }
  28% {
    transform: rotateZ(.20deg);
  }
  42% {
    transform: rotateZ(-.15deg);
  }
  56% {
    transform: rotateZ(.10deg);
  }
  70% {
    transform: rotateZ(-.05deg);
  }
  84% {
    transform: rotateZ(.01deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
