@import '../../global-styles/colors';
@import '../../global-styles/fonts';

#landing__container {
    background: $primary-color;
    color: $secondary-color;
}

#landing__text-container {
    min-height: 100vh;
    overflow: visible;
}

#landing__text-container__name {
    font-family: $dramatic-font;
    text-align: center;
    text-shadow: 0 2px 0 $pop-color;
    width: 100vw;
    position: fixed;
    z-index: 3;
    margin: 0 !important;

    animation: zoom-out-name 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#landing__text-container__software-dev {
    font-family: $paragraph-font;
    text-align: center;
    text-shadow: 0 1px 0 $pop-color;
    width: 100vw;
    position: fixed;

    animation: zoom-out-title 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.fix-name {
    top: 4px !important;
    font-size: 56px !important;
}

.hide-title {
    z-index: -2;
}

// Desktop
@media only screen and (min-width: 1100px) {

    // Set initial font size and position for device
    #landing__text-container__name {
        font-size: 140px;
        top: 35%;
    }

    #landing__text-container__software-dev {
        font-size: 30px;
        top: 60%;
    }

    // animate "Amanda Hussey"
    @keyframes zoom-out-name {
        0% {
            font-size: 140px;
        }
        100% {
            font-size: 56px;
            top: 4px;
        }
    }

    // animate "Software Developer"
    @keyframes zoom-out-title {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            top: 10%;
        }
    }
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1100px) {

    // Set initial font size and position for device
    #landing__text-container__name {
        font-size: 75px;
        top: 35%;
    }

    #landing__text-container__software-dev {
        font-size: 30px;
        top: 50%;
    }


    // animate "Amanda Hussey"
    @keyframes zoom-out-name {
        0% {
            font-size: 75px;
        }
        100% {
            font-size: 56px;
            top: 4px;
        }
    }

    // animate "Software Developer"
    @keyframes zoom-out-title {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            top: 10%;
        }
    }
}

// Mobile
@media only screen and (max-width: 600px) {

    // Nav "Amanda Hussey"
    .fix-name {
        font-size: 30px !important;
    }

    // Set initial font size and position for device
    #landing__text-container__name {
        font-size: 50px;
        top: 35%;
    }

    #landing__text-container__software-dev {
        font-size: 20px;
        top: 50%;
    }


    // animate "Amanda Hussey"
    @keyframes zoom-out-name {
        0% {
            font-size: 50px;
        }
        100% {
            font-size: 30px;
            top: 4px;
        }
    }

    // animate "Software Developer"
    @keyframes zoom-out-title {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            top: 10%;
        }
    }

}
