// $primary-color: #35273e;
// $secondary-color: #e6de97;
// $pop-color: #f9ee8b;

// $primary-color: #3c284a;
// $secondary-color: #99b898;
// $pop-color: #9de0ad;

$primary-color: #150d1b;
$secondary-color: #ffffff;
$pop-color: #E91E63;

// $primary-color: #622569;
// $secondary-color: #f8b4cd;
// $pop-color: #ff9aa2;

// $primary-color: #602d69;
// $secondary-color: #f9ee8b;
// $pop-color: #E91E63;
