@import 'colors';
@import 'fonts';

#landing__container {
    background: $primary-color;
    color: $secondary-color;
}

#landing__text-container {
    min-height: 220vh;
    overflow: auto;
}

#landing__text-container__name {
    font-family: $dramatic-font;
    text-align: center;
    font-size: 100px;
    // text-shadow: 0 2px 0 #E91E63;
    width: 100vw;
    
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: zoom-out-name 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);  
}

#landing__text-container__software-dev {
    font-family: $paragraph-font;
    text-align: center;
    // text-shadow: 0 2px 0 #E91E63;
    width: 100vw;

    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: zoom-out-title 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.fixed-name {
    top: 4px !important;
    font-size: 56px !important;
}

.remove-software-developer {
    z-index: -2;
}

// "Amanda Hussey" -- Desktop
@media only screen and (min-width: 600px) {

    @keyframes zoom-out-name {
        0% {
            font-size: 28px;
        }
        50% {
            font-size: 140px;
            top: 30%;
        }
        70% {
            top: 10%;
        }
        100% {
            font-size: 56px;
            top: 4px;
        }
    }
}

// "Software Developer" -- Desktop
@media only screen and (min-width: 600px) {
    @keyframes zoom-out-title {
        0% {
            font-size: 0px;
        }
        50% {
            font-size: 1.5em;
        }
        60% {
            opacity: 0.9;
            top: 50%;
        }
        70% {
            opacity: .7;
            top: 40%;
        }
        100% {
            opacity: 0;
            top: 10%;
        }
    }
}

// "Amanda Hussey" -- Mobile
@media only screen and (max-width: 600px) {

    .fixed-name {
        font-size: 30px !important;
    }

    @keyframes zoom-out-name {
        0% {
            font-size: 12px;
        }
        50% {
            font-size: 48px;
            top: 30%;
        }
        70% {
            top: 10%;
        }
        100% {
            font-size: 30px;
            top: 4px;
        }
    }
}

// "Software Developer" -- Mobile
@media only screen and (max-width: 600px) {
    @keyframes zoom-out-title {
        0% {
            font-size: 0px;
        }
        50% {
            font-size: 24px;
        }
        60% {
            opacity: 0.9;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}