@import 'colors';
@import 'fonts';

.resume-parent-container {
    overflow: auto;
}

#software-development {
    background: $primary-color;
    color: $secondary-color;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

#mathematics {
    background: $secondary-color;
    color: $primary-color; 
}

#uic {
    margin-bottom: 80px;
}

.resume-container {
    margin: 100px auto 175px;
}

.resume-section__title {
    font-size: 100px;
    text-align: left;
}

.resume-section {
    margin-bottom: 60px;
}

.resume-section__header {
    text-align: right;
}

.resume-section__sub-title {
    display: flex;
    justify-content: space-between;
    font-family: $header-font;
}

.resume-section__description-container {
    display: flex;
    justify-content: space-between;
}

.resume-section__description {
    margin-bottom: 70px;
    font-family: $paragraph-font;
}

.resume-section__description span {
    font-family: $header-font;
}

.resume-section__description__takeaway {
    font-family: $header-font;
}


@media only screen and (min-width: 1000px) {
    .resume-container {
        width: 900px;
        
    }
}

@media only screen and (max-width: 1000px) {
    .resume-container {
        width: 90vw;
    }
    #uic {
        text-align: left;
    }
    .resume-section__title {
        font-size: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .resume-container {
        width: 90vw;
    }
    .resume-section__title {
        font-size: 50px;
    }
    #uic {
        text-align: left;
    }
}

@media only screen and (max-width: 400px) {
    .resume-container {
        width: 90vw;
    }
    .resume-section__title {
        font-size: 40px;
    }
    #uic {
        text-align: left;
    }
}