@import '../../global-styles/colors';
@import '../../global-styles/fonts';
@import '../../global-styles/index';


@media only screen and (min-width: 600px) {
    #nav-container {
        background: $primary-color;
        height: $nav-height--desktop;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 2;
    }
}

@media only screen and (max-width: 600px) {
    #nav-container {
        background: $primary-color;
        height: $nav-height--mobile;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 2;
    }
}
